<h1><%= @user.username %></h1>

<ul>
<% @user.subs.each do |sub| %>
    <li>
        <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
    </li>
<% end %>
</ul>

<br>

<a href="<%= new_sub_url %>">Create a New Sub</a>

<br>

<a href="<%= users_url %>">Back to users</a>
