<h1>This is the info page for Cat #<%= @cat.id %></h1>

<table>
    <thead>
        <tr>
            <th colspan="2"> <%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Birth_date</td>
            <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @cat.color%></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex%></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><%= @cat.description%></td>
        </tr>
    </tbody>
</table>
<br>

<a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>

<h2>Rental Requests</h2>
<table>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
    </tr>
    <% @cat.rental_requests.order('start_date').each do |request| %>
        <%= render 'req', req: request %>
    <% end %>
</table>
