<h1><%= @sub.title %></h1>

<h3>Description</h3>
<p><%= @sub.description %></p>

<h2>Posts</h2>
<ul>
    <% @sub.posts.each do |post| %>
        <li>
            <a href="<%= post_url(post) %>"><%= post.title %></a>
        </li>
    <% end %>
</ul>

<br>

<% if current_user.id == @sub.moderator_id %>

    <a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>

<% end %>

<br>

<a href="<%= subs_url %>">All Subs</a>